<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Mission ON!</title>

    <link rel="stylesheet" href="demo.css"/>
    <link rel="stylesheet" href="header-login-signup.css"/>
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'/>
</head>

<body style="background-image:url(medieval.png);">
<header class="header-login-signup">

    <div class="header-limiter">
        <h1><a href="/">Bloody<span>Meadow</span></a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/members" class="selected">Members</a>
        </nav>
        <ul>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</header>


<div>
    <center>
        <p style="color:red; font-family:WildWest; font-size:150%;" th:text="${hero1.name != null} ? ${'Hero '+hero1.name+' joined '+arena.name+'!'}"/>
        <p style="color:red; font-family:WildWest; font-size:150%;" th:text="${hero2.name != null} ? ${'Hero '+hero2.name+' joined '+arena.name+'!'}"/>


    </center>

    <table align="center" style="background-color:rgba(100, 100, 100, 0.8); border-spacing: 30px; border-collapse: separate;"><tr><td>
        <form action="#" th:action="@{/arena}" th:object="${arenadto}" method="post">
            <div>
                <div>
                    <select th:field="*{selectedAction}">
                        <option th:each="entry:*{actions}" th:value="${entry}" th:text="${entry}">Up</option>
                    </select>
                </div>
                <button onclick="myFunction()" type="submit" value="Submit" class="btn btn-danger"><p th:text="${hero1.name+' Play'}"/></button>
            </div>
        </form>
       </td>  <!-- </div> -->

        <td>
  <!--  <div th:if="${tourn2} == true"> -->
    <form action="#" th:action="@{/arena}" th:object="${arenadto}" method="post">
        <div>
            <div>
                <select th:field="*{selectedAction2}">
                    <option th:each="entry:*{actions2}" th:value="${entry}" th:text="${entry}">Up</option>
                </select>
            </div>
            <button onclick="myFunction()" type="submit" value="Submit" class="btn btn-primary"><p th:text="${hero2.name+' Play'}"/></button>
        </div>
    </form>
     <!-- </div> -->
        </td></tr></table>

    <script>
        function myFunction(){
            <meta http-equiv="refresh" content="3"/>
        }
    </script>

    <p>
        <table align="center">
            <tr th:each="i: ${map}">
                <p th:each="j: ${i}" th:switch="${j}">
                <p th:case ="'1'"><td><img src="warrior-4b.gif" style="height:70px;width:70px"></img></td></p>
                <p th:case ="'2'"><td><img src="warrior-4c.gif" style="height:70px;width:70px"></img></td></p>
                <p th:case ="'4'"><td><img src="grass-de.jpg" style="height:70px;width:70px"></img></td></p>
                <p th:case ="*"><td><img src="grass-un.jpg" style="height:70px;width:70px"></img></td></p>
                </p>
             </tr>
        </table>
    </p>
</div>

</body>
</html>