<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Create hero</title>

    <link rel="stylesheet" href="demo.css" />
    <link rel="stylesheet" href="header-login-signup.css" />
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css' />
</head>

<body>
<header class="header-login-signup">
    <div class="header-limiter">
        <h1><a href="/">Bloody<span>Meadow</span></a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="#">Blog</a>


        </nav>
        <ul>

            <li><a href="/login">Log out</a></li>
        </ul>
    </div>
</header>
<!-- The content of your page would go here. -->
<div class="menu">
    <img src="medieval2.png"/>


    <h1>Create Hero</h1>
    <form action="#" th:action="@{/createhero}" th:object="${herodto}" method="post" allign="middle">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Hero Name</label>
                <input class="form-control" th:field="*{name}"/>
                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</label>
            </div>
            <div class="form-group">
                <label>Hero Type</label>
                <select th:field="*{selectedType}">
                    <option th:each="entry:*{htypes}" th:value="${entry}" th:text="${entry}">Elf</option>
                </select>
            </div>

            <button type="submit" value="Submit" class="btn btn-danger">Submit</button>
        </div>
    </form>
</div>
</body>
</html>
