<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Login, Sign up Header</title>

    <link rel="stylesheet" href="demo.css" />
    <link rel="stylesheet" href="header-login-signup.css" />
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css' />
</head>

<body>
<header class="header-login-signup">
    <div class="header-limiter">
        <h1><a href="/">Bloody<span>Meadow</span></a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="#">Blog</a>
            <a href="#">Pricing</a>
            <a href="/create"  class="selected">Sign Up</a>
        </nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/create">Sign up</a></li>
        </ul>
    </div>
</header>
<!-- The content of your page would go here. -->
<div class="menu">
    <img src="marius-adauga-poza.png" alt="arrow" height="120" />
    <!--
        <ul>
            <li><a href="index.html">Basic</a></li>
            <li><a href="header-basic-light.html">Basic Light</a></li>
            <li><a href="header-fixed.html">Fixed</a></li>
            <li><a href="header-login-signup.html" class="active">Login/Sign up</a></li>
            <li><a href="header-search.html">Search</a></li>
            <li><a href="header-second-bar.html">Second Bar</a></li>
            <li><a href="header-user-dropdown.html">User Dropdown</a></li>
        </ul>
    -->

    <h1>Edit Hero</h1>
    <form action="#" th:action="@{/edithero}" th:object="${herodto}" method="post" allign="middle">
        <div class="col-lg-4">
            <div class="form-group">
                <label>Edit Name</label>
                <input class="form-control" th:field="*{name}"/>
            </div>
            <div class="form-group">
                <label>Id</label>
                <input class="form-control" th:field="*{tmpid}"/>
            </div>
            <button type="submit" value="Submit" class="btn btn-danger">Update</button>
        </div>
    </form>
</div>
</body>
</html>
