<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Bloody Meadow! Play online our RPG game!</title>

    <link rel="stylesheet" href="demo.css" />
    <link rel="stylesheet" href="header-login-signup.css" />
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css' />
</head>
<body>
<header class="header-login-signup">
    <div class="header-limiter">
        <h1><a href="/">Bloody<span>Meadow</span></a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/login"  class="selected">Log In</a>
        </nav>
        <ul>
            <li><a href="/login">Log In</a></li>
            <li><a href="/create">Sign up</a></li>
        </ul>
    </div>
</header>
<img src="medieval2.png"/>
<div class="menu">
    <div class="col-md-offset-4 col-md-3">
            <h2 class="form-signin-heading">Welcome to Bloody Meadow</h2>
    </div>
</div>
</body>
</html>
