
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#171a21">
    <title>RPG games on 42</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link href="http://store.akamai.steamstatic.com/public/shared/css/motiva_sans.css?v=ful_LJT3NQYl" rel="stylesheet"
          type="text/css">
    <link href="http://store.akamai.steamstatic.com/public/shared/css/shared_global.css?v=q6C1nEqLfOmm" rel="stylesheet"
          type="text/css">
    <link href="http://store.akamai.steamstatic.com/public/shared/css/buttons.css?v=ZQhT8EbnYTgW" rel="stylesheet"
          type="text/css">
    <link href="http://store.akamai.steamstatic.com/public/css/v6/store.css?v=kiR_CuPMUdkD" rel="stylesheet"
          type="text/css">
    <link href="http://store.akamai.steamstatic.com/public/css/v6/browse.css?v=LG2NbH7CZTyI" rel="stylesheet"
          type="text/css">
    <link href="http://store.akamai.steamstatic.com/public/css/v6/discoveryqueue.css?v=Arf-Y53bWz0x" rel="stylesheet"
          type="text/css">
    <link href="http://store.akamai.steamstatic.com/public/css/v6/tags.css?v=-dpUyc2xeANe" rel="stylesheet"
          type="text/css">
    <link href="http://store.akamai.steamstatic.com/public/shared/css/shared_responsive.css?v=1gbp7tFqaQum"
          rel="stylesheet" type="text/css">
    <script type="text/javascript"
            src="http://gc.kis.scr.kaspersky-labs.com/1B74BD89-2A22-4B93-B451-1C9E1052A0EC/main.js"
            charset="UTF-8"></script>
    <script type="text/javascript"
            src="http://store.akamai.steamstatic.com/public/shared/javascript/jquery-1.8.3.min.js?v=.TZ2NKhB-nliU"></script>
    <script type="text/javascript">$J = jQuery.noConflict();</script>
    <script type="text/javascript"
            src="http://store.akamai.steamstatic.com/public/shared/javascript/tooltip.js?v=.MkQ-ab-cxeF7"></script>

    <script type="text/javascript"
            src="http://store.akamai.steamstatic.com/public/shared/javascript/shared_global.js?v=GvmJc7bEjR51&amp;l=english"></script>

    <script type="text/javascript"
            src="http://store.akamai.steamstatic.com/public/javascript/main.js?v=X0qp26Kvi7aJ&amp;l=english"></script>

    <script type="text/javascript"
            src="http://store.akamai.steamstatic.com/public/javascript/prototype-1.7.js?v=.a38iP7Khdmyy"></script>

    <script type="text/javascript"
            src="http://store.akamai.steamstatic.com/public/javascript/scriptaculous/_combined.js?v=N9x7GFelaFEb&amp;l=english&amp;load=effects,controls,slider"></script>

    <script type="text/javascript"
            src="http://store.akamai.steamstatic.com/public/javascript/dynamicstore.js?v=eI1Rv59_sPGi&amp;l=english"></script>

    <script type="text/javascript"
            src="http://store.akamai.steamstatic.com/public/shared/javascript/jquery.appear.js?v=.rB2Jqew4q0oc"></script>

    <script type="text/javascript">
jQuery(document).ready(function($) { $J.data( document, 'x_readytime', new Date().getTime() );
$J.data( document, 'x_oldref', GetNavCookie() );
$('.tooltip').v_tooltip();
window.BindStoreTooltip = function( $Selector ) { $Selector.v_tooltip( {'tooltipClass': 'store_tooltip', 'dataName': 'storeTooltip' } ); };
BindStoreTooltip( $('[data-store-tooltip]') );
});
    </script>
    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33786258-1']);
  _gaq.push(['_setSampleRate', '0.4']);
  _gaq.push(['_setCustomVar', 1, 'Logged In', 'false', 2]);
  _gaq.push(['_setCustomVar', 2, 'Client Type', 'External', 2]);
  _gaq.push(['_setCustomVar', 3, 'Cntrlr', 'tag', 3]);
  _gaq.push(['_setCustomVar', 4, 'Method', "tag\/tag", 3]);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_setSessionCookieTimeout', 900000]);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>
    <script type="text/javascript"
            src="http://store.akamai.steamstatic.com/public/javascript/app_tagging.js?v=4vf_qmcYxcYh&amp;l=english"></script>
    <script type="text/javascript"
            src="http://store.akamai.steamstatic.com/public/javascript/discoveryqueue.js?v=kQe7SVsW6bWr&amp;l=english"></script>
    <script type="text/javascript"
            src="http://store.akamai.steamstatic.com/public/javascript/cluster.js?v=SEUzwesHEIOC&amp;l=english"></script>
    <script type="text/javascript"
            src="http://store.akamai.steamstatic.com/public/shared/javascript/shared_responsive_adapter.js?v=WeLSMzFqMp1e&amp;l=english"></script>


</head>
<body class="v6 tag_page game_bg responsive_page">

<div class="responsive_page_frame with_header">

    <div class="responsive_page_menu_ctn mainmenu">
        <div class="responsive_page_menu" id="responsive_page_menu">
            <div class="mainmenu_contents">
                <div class="mainmenu_contents_items">
                    <a class="menuitem" href="login.html">
                        Login </a>

                    <a class="menuitem supernav" href="http://store.steampowered.com/" data-tooltip-type="selector"
                       data-tooltip-content=".submenu_store">
                        Store </a>
                    <div class="submenu_store" style="display: none;" data-submenuid="store">
                        <a class="submenuitem" href="http://store.steampowered.com/">Featured</a>
                        <a class="submenuitem" href="http://store.steampowered.com/explore/">Explore</a>
                        <a class="submenuitem" href="http://store.steampowered.com/curators/">Curators</a>
                        <a class="submenuitem" href="http://steamcommunity.com/my/wishlist/">Wishlist</a>
                        <a class="submenuitem" href="http://store.steampowered.com/news/">News</a>
                        <a class="submenuitem" href="http://store.steampowered.com/stats/">Stats</a>
                    </div>


                    <a class="menuitem supernav" style="display: block" href="http://steamcommunity.com/"
                       data-tooltip-type="selector" data-tooltip-content=".submenu_community">
                        Community </a>
                    <div class="submenu_community" style="display: none;" data-submenuid="community">
                        <a class="submenuitem" href="http://steamcommunity.com/">Home</a>
                        <a class="submenuitem" href="http://steamcommunity.com/discussions/">Discussions</a>
                        <a class="submenuitem" href="http://steamcommunity.com/workshop/">Workshop</a>
                        <a class="submenuitem" href="http://steamcommunity.com/greenlight/">Greenlight</a>
                        <a class="submenuitem" href="http://steamcommunity.com/market/">Market</a>
                        <a class="submenuitem" href="http://steamcommunity.com/?subsection=broadcasts">Broadcasts</a>
                    </div>


                    <a class="menuitem" href="https://help.steampowered.com/">
                        Support </a>

                    <div class="minor_menu_items">
                        <div class="menuitem change_language_action">
                            Change language
                        </div>
                        <div class="menuitem" onclick="Responsive_RequestDesktopView();">
                            View desktop website
                        </div>
                    </div>
                </div>
                <div class="mainmenu_footer_spacer"></div>
                <div class="mainmenu_footer">
                    <div class="mainmenu_footer_logo"><img
                            src="http://store.akamai.steamstatic.com/public/shared/images/responsive/logo_valve_footer.png">
                    </div>
                    © Valve Corporation. All rights reserved. All trademarks are property of their respective owners in
                    the US and other countries.							<span class="mainmenu_valve_links">
								<a href="http://store.steampowered.com/privacy_agreement/" target="_blank">Privacy
                                    Policy</a>
								&nbsp;| &nbsp;<a href="http://www.valvesoftware.com/legal.htm" target="_blank">Legal</a>
								&nbsp;| &nbsp;<a href="http://store.steampowered.com/subscriber_agreement/"
                                                 target="_blank">Steam Subscriber Agreement</a>
								&nbsp;| &nbsp;<a href="http://store.steampowered.com/steam_refunds/" target="_blank">Refunds</a>
							</span>
                </div>
            </div>
        </div>
    </div>

    <div class="responsive_local_menu_tab" style="display: none;">

    </div>

    <div class="responsive_page_menu_ctn localmenu">
        <div class="responsive_page_menu" id="responsive_page_local_menu">
            <div class="localmenu_content">
            </div>
        </div>
    </div>


    <div class="responsive_header">
        <div class="responsive_header_content">
            <div id="responsive_menu_logo">
                <img src="http://store.akamai.steamstatic.com/public/shared/images/responsive/header_menu_hamburger.png"
                     height="100%">
            </div>
            <div class="responsive_header_logo">
                <img src="http://store.akamai.steamstatic.com/public/shared/images/responsive/header_logo.png"
                     height="36" border="0" alt="STEAM">
            </div>
        </div>
    </div>

    <div class="responsive_page_content_overlay">


        <h1 th:text="${text}"></h1>
        <form action="#" th:action="@{/create}" th:object="${user}" method="post">

            <div class="col-lg-6">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" th:field="*{name}"/>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" th:field="*{email}"/>
                    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</label>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" th:field="*{password}" type="password"/>
                </div>
                <div class="form-group">
                    <label>Confirm password</label>
                    <input class="form-control" th:field="*{confirmPassword}" type="password"/>
                </div>
                <button type="submit" value="Submit" class="btn btn-danger">Submit</button>
            </div>

        </form>


    </div>

    <div class="responsive_fixonscroll_ctn nonresponsive_hidden ">
    </div>

    <div class="responsive_page_content">

        <div id="global_header">
            <div class="content">

                <div class="logo">
			<span id="logo_holder">
				<a href="http://store.steampowered.com/">
                    <img src="http://store.akamai.steamstatic.com/public/shared/images/header/globalheader_logo.png"
                         width="176" height="44">
                </a>
			</span>
                    <!--[if lt IE 7]>
                    <style type="text/css">
                        #logo_holder img { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }
                        #logo_holder { display: inline-block; width: 176px; height: 44px;
                        filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://store.akamai.steamstatic.com/public/images/v5/globalheader_logo.png');
                        }
                    </style>
                    <![endif]-->
                </div>

                <div class="supernav_container">
                    <a class="menuitem supernav" href="http://store.steampowered.com/" data-tooltip-type="selector"
                       data-tooltip-content=".submenu_store">
                        STORE </a>
                    <div class="submenu_store" style="display: none;" data-submenuid="store">
                        <a class="submenuitem" href="http://store.steampowered.com/">Featured</a>
                        <a class="submenuitem" href="http://store.steampowered.com/explore/">Explore</a>
                        <a class="submenuitem" href="http://store.steampowered.com/curators/">Curators</a>
                        <a class="submenuitem" href="http://steamcommunity.com/my/wishlist/">Wishlist</a>
                        <a class="submenuitem" href="http://store.steampowered.com/news/">News</a>
                        <a class="submenuitem" href="http://store.steampowered.com/stats/">Stats</a>
                    </div>


                    <a class="menuitem supernav" style="display: block" href="http://steamcommunity.com/"
                       data-tooltip-type="selector" data-tooltip-content=".submenu_community">
                        COMMUNITY </a>
                    <div class="submenu_community" style="display: none;" data-submenuid="community">
                        <a class="submenuitem" href="http://steamcommunity.com/">Home</a>
                        <a class="submenuitem" href="http://steamcommunity.com/discussions/">Discussions</a>
                        <a class="submenuitem" href="http://steamcommunity.com/workshop/">Workshop</a>
                        <a class="submenuitem" href="http://steamcommunity.com/greenlight/">Greenlight</a>
                        <a class="submenuitem" href="http://steamcommunity.com/market/">Market</a>
                        <a class="submenuitem" href="http://steamcommunity.com/?subsection=broadcasts">Broadcasts</a>
                    </div>


                    <a class="menuitem" href="http://store.steampowered.com/about/">
                        ABOUT </a>

                    <a class="menuitem" href="https://help.steampowered.com/">
                        SUPPORT </a>
                </div>
                <script type="text/javascript">
		jQuery(function($) {
			$('.tooltip').v_tooltip();
			$('#global_header .supernav').v_tooltip({'location':'bottom', 'tooltipClass': 'supernav_content', 'offsetY':-4, 'offsetX': 1, 'horizontalSnap': 4, 'tooltipParent': '#global_header .supernav_container', 'correctForScreenSize': false});
		});

                </script>

                <div id="global_actions">
                    <div id="global_action_menu">
                        <div class="header_installsteam_btn header_installsteam_btn_green">
                            <div class="header_installsteam_btn_leftcap"></div>
                            <div class="header_installsteam_btn_rightcap"></div>
                            <a class="header_installsteam_btn_content" href="http://store.steampowered.com/about/">
                                Install Steam </a>
                        </div>


                        <a class="global_action_link" href="login.html">login</a>
                        &nbsp;|&nbsp;
                        <a class="global_action_link" href="create.html">Sign Up</a>
                        &nbsp;|&nbsp;
                        <span class="pulldown global_action_link" id="language_pulldown"
                              onclick="ShowMenu( this, 'language_dropdown', 'right' );">language</span>
                        <div class="popup_block_new" id="language_dropdown" style="display: none;">
                            <div class="popup_body popup_menu">
                                <a class="popup_menu_item tight" href="?l=bulgarian"
                                   onclick="ChangeLanguage( 'bulgarian' ); return false;">Български (Bulgarian)</a>
                                <a class="popup_menu_item tight" href="?l=czech"
                                   onclick="ChangeLanguage( 'czech' ); return false;">čeština (Czech)</a>
                                <a class="popup_menu_item tight" href="?l=danish"
                                   onclick="ChangeLanguage( 'danish' ); return false;">Dansk (Danish)</a>
                                <a class="popup_menu_item tight" href="?l=dutch"
                                   onclick="ChangeLanguage( 'dutch' ); return false;">Nederlands (Dutch)</a>
                                <a class="popup_menu_item tight" href="?l=finnish"
                                   onclick="ChangeLanguage( 'finnish' ); return false;">Suomi (Finnish)</a>
                                <a class="popup_menu_item tight" href="?l=french"
                                   onclick="ChangeLanguage( 'french' ); return false;">Français (French)</a>
                                <a class="popup_menu_item tight" href="?l=greek"
                                   onclick="ChangeLanguage( 'greek' ); return false;">Ελληνικά (Greek)</a>
                                <a class="popup_menu_item tight" href="?l=german"
                                   onclick="ChangeLanguage( 'german' ); return false;">Deutsch (German)</a>
                                <a class="popup_menu_item tight" href="?l=hungarian"
                                   onclick="ChangeLanguage( 'hungarian' ); return false;">Magyar (Hungarian)</a>
                                <a class="popup_menu_item tight" href="?l=italian"
                                   onclick="ChangeLanguage( 'italian' ); return false;">Italiano (Italian)</a>
                                <a class="popup_menu_item tight" href="?l=japanese"
                                   onclick="ChangeLanguage( 'japanese' ); return false;">日本語 (Japanese)</a>
                                <a class="popup_menu_item tight" href="?l=koreana"
                                   onclick="ChangeLanguage( 'koreana' ); return false;">한국어 (Korean)</a>
                                <a class="popup_menu_item tight" href="?l=norwegian"
                                   onclick="ChangeLanguage( 'norwegian' ); return false;">Norsk (Norwegian)</a>
                                <a class="popup_menu_item tight" href="?l=polish"
                                   onclick="ChangeLanguage( 'polish' ); return false;">Polski (Polish)</a>
                                <a class="popup_menu_item tight" href="?l=portuguese"
                                   onclick="ChangeLanguage( 'portuguese' ); return false;">Português (Portuguese)</a>
                                <a class="popup_menu_item tight" href="?l=brazilian"
                                   onclick="ChangeLanguage( 'brazilian' ); return false;">Português-Brasil
                                    (Portuguese-Brazil)</a>
                                <a class="popup_menu_item tight" href="?l=russian"
                                   onclick="ChangeLanguage( 'russian' ); return false;">Русский (Russian)</a>
                                <a class="popup_menu_item tight" href="?l=romanian"
                                   onclick="ChangeLanguage( 'romanian' ); return false;">Română (Romanian)</a>
                                <a class="popup_menu_item tight" href="?l=schinese"
                                   onclick="ChangeLanguage( 'schinese' ); return false;">简体中文 (Simplified Chinese)</a>
                                <a class="popup_menu_item tight" href="?l=spanish"
                                   onclick="ChangeLanguage( 'spanish' ); return false;">Español (Spanish)</a>
                                <a class="popup_menu_item tight" href="?l=swedish"
                                   onclick="ChangeLanguage( 'swedish' ); return false;">Svenska (Swedish)</a>
                                <a class="popup_menu_item tight" href="?l=tchinese"
                                   onclick="ChangeLanguage( 'tchinese' ); return false;">繁體中文 (Traditional Chinese)</a>
                                <a class="popup_menu_item tight" href="?l=thai"
                                   onclick="ChangeLanguage( 'thai' ); return false;">ไทย (Thai)</a>
                                <a class="popup_menu_item tight" href="?l=turkish"
                                   onclick="ChangeLanguage( 'turkish' ); return false;">Türkçe (Turkish)</a>
                                <a class="popup_menu_item tight" href="?l=ukrainian"
                                   onclick="ChangeLanguage( 'ukrainian' ); return false;">Українська (Ukrainian)</a>
                                <a class="popup_menu_item tight" href="http://translation.steampowered.com"
                                   target="_blank">Help us translate Steam</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="responsive_store_nav_ctn"></div>
        <div class="responsive_page_template_content">

            <script type="text/javascript">
			$J( function() {
			InitPagingControls( [{"query":"","total_count":2116,"pagesize":10,"prefix":"NewReleases","class_prefix":"paged_items","url":"http:\/\/store.steampowered.com\/tagdata\/querypaginated\/en\/122\/NewReleases\/"},{"query":"","total_count":1614,"pagesize":10,"prefix":"TopSellers","class_prefix":"paged_items","url":"http:\/\/store.steampowered.com\/tagdata\/querypaginated\/en\/122\/TopSellers\/"},{"query":"","total_count":141,"pagesize":10,"prefix":"Discounts","class_prefix":"paged_items","url":"http:\/\/store.steampowered.com\/tagdata\/querypaginated\/en\/122\/Discounts\/"}], 'RO', [] )
			InitHorizontalAutoSliders();
		} );

            </script>

            <div class="page_background"
                 style="background-image: url('http://cdn.akamai.steamstatic.com/steam/apps/365590/page_bg_generated_v6b.jpg?t=1456496582');">




                    <div class="page_content">

                        <h2 class="pageheader tag_pageheader">
                            Browsing RPG </h2>
                    </div>
                </div>

</body>
</html>