<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="demo.css" />
    <link rel="stylesheet" href="header-login-signup.css" />
    <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css' />
    <title>RPG Game - Members Area</title>
</head>

<body>
<header class="header-login-signup">
    <div class="header-limiter">
        <h1><a href="/">Bloody<span>Meadow</span></a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="#">Blog</a>
            <a href="/createhero">Create Hero</a>
        </nav>
        <p>Members area</p>
        <ul>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</header>
<!-- The content of your page would go here. -->
<div class="menu">
    <h1>Members Area</h1>
    <p th:text="${'Welcome '+user.name+'!'}"> </p>

    <table>
        <tr>
            <td>
    <div align="left">
        <p>Authenticated User:</p>

        <p th:text="${user.name}"></p>
        <p th:text="${user.email}"></p>
        <p th:text="${user.password}"></p>
        <p th:text="${user.id}"></p>

        </div>
            </td>
            <td>
                <div align="left">
                    <p>Heroes</p>
        <table>
            <tr>
                <td>Type</td>
                <td>Name</td>
                <td>Id</td>
                <td>Level</td>
                <td>Health</td>
                <td>Damage</td>
                <td>Inventory(items)</td>
            </tr>
            <tr th:each="hero: ${user.heroes}">
                <td th:text="${hero.heroType}"></td>
                <td th:text="${hero.name}"></td>
                <td th:text="${hero.id}"></td>
                <td th:text="${hero.level}"></td>
                <td th:text="${hero.health}"></td>
                <td th:text="${hero.damage}"></td>
                <td th:text="${hero.inventoryCount}"></td>
                <td>Play</td><td><a th:href="${'/edithero?id='+hero.id}">Edit</a></td>
            </tr>
        </table>
                </div>
            </td>
            <td>
                <div align="middle">
                <p><a href="/createhero">Create Hero</a></p>

            </div>
            </td>
        </tr>
        </table>
</div>
</body>
</html>
